.registerContainer{
    width: 300px;
    height:250px;
    padding: 10px;
    border-radius: 10px;
    background-color: #b0a7a734;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

button{
    border: none;
    background-color: rgb(139, 55, 172);
    color: white;
}

input[type=text] , input[type=email],input[type=password],button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
   
  }

.success{
    color: rgb(130, 198, 130);
}

.fail{
    color: rgb(247, 94, 94);
    
}