*{
  margin: 0;
}
.leaflet-container{
  height: 100vw;
}

.cluster-icon{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgba(232, 176, 55, 0.936);
  transform: translate(-25%,-25%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: 700;
}


.container{
  border: 3px solid rgb(22, 22, 21);
  padding: 10px;
  border-radius: 12px;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   margin-bottom: 12px;
}

form {
  width: 250px;
  height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

input,textarea{
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
  font-size: 12px;
  color: rgb(127, 131, 134);
}

.submitButton {
  border: none;
  padding:5px;
  border-radius: 4px;
  color: aliceblue;
  background-color: rgb(217, 78, 78);
}

.map-box {
  margin-top: 20px;
  height: 500px;
}

.btn{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
}

.logout{
  background-color: rgba(225, 58, 58, 0.916);
  margin-left: 92vw;
}

.login{
  background-color: teal;
  margin-left: 10px;
}

.register{
  background-color: blueviolet;
}

.logout,.login,.register{
  cursor: pointer;
  margin-top: 10px;
  width: fit-content;
  height: 35px;
  padding: 10px;
  border-radius: 8px;
}

.login,.register {
margin-right: 20px;
}

