*{
  margin: 0;
}
.leaflet-container{
  height: 100vw;
}

.cluster-icon{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgba(232, 176, 55, 0.936);
  transform: translate(-25%,-25%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: 700;
}


.container{
  
  border-radius: 12px;
 
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 12px;
  
}

form {
  width: 250px;
  height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

input,textarea{
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
  font-size: 12px;
  color: rgb(127, 131, 134);
}

.submitButton {
  border: none;
  padding:5px;
  border-radius: 4px;
  color: aliceblue;
  background-color: rgb(217, 78, 78);
}

.map-box {
  margin-top: 20px;
  height: 500px;
  border: 5px solid rgb(12, 12, 12);
  margin-left: 2px;
  margin-right: 2px;
   border-radius: 5px;
  
}

.btn{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
}

.logout{
  background-color: rgba(225, 58, 58, 0.916);
  margin-left: 92vw;
}

.login{
  background-color: teal;
  margin-left: 10px;
}

.register{
  background-color: blueviolet;
}

.logout,.login,.register{
  cursor: pointer;
  margin-top: 10px;
  width: fit-content;
  height: 35px;
  padding: 10px;
  border-radius: 8px;
}

.login,.register {
margin-right: 20px;
}


.bckgrnd {
 background-image:  url('https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fHRyYXZlbCUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60');

}


h5{
  color: rgb(102, 107, 169);
}
h3{
  color: rgb(185, 31, 31);
}

